<!DOCTYPE html>

<html lang="en" ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Super Mario Bros Overworld</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <script src="http://code.angularjs.org/1.2.0rc1/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js"></script>

    <!-- Band.JS Files -->
    <script src="../../src/band.js"></script>
    <script src="../../src/instrument-packs/noises.js"></script>
    <script src="../../src/instrument-packs/oscillators.js"></script>
    <script src="../../src/rhythm-packs/north-american.js"></script>
    <script src="../../src/tuning-packs/equal-temperament.js"></script>

    <!-- App Files -->
    <script src="js/app.js"></script>
</head>
<body ng-controller="AppController">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4><strong>Only works in latest chrome or safari!</strong></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <h2>{{currentSeconds|musicTime}}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="btn-group">
                            <button ng-if="! playing || paused" ng-click="play()" class="btn btn-default"><i class="glyphicon glyphicon-play"></i></button>
                            <button ng-if="! paused && playing" ng-click="pause()" class="btn btn-default"><i class="glyphicon glyphicon-pause"></i></button>
                            <button ng-click="stop()" class="btn btn-default"><i class="glyphicon glyphicon-stop"></i></button>
                            <button class="btn btn-default" ng-model="mute" btn-checkbox><i class="glyphicon glyphicon-volume-off"></i></button>
                            <button class="btn btn-default" ng-model="loop" btn-checkbox><i class="glyphicon glyphicon-repeat"></i></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <input ng-mousedown="movingTime()" ng-mouseup="updateTime()" type="range" max="{{totalSeconds}}" ng-model="currentSeconds">
                        <span class="total-time">{{totalSeconds|musicTime}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <input ng-disabled="muted" class="vertical-range" type="range" ng-model="volume">
            </div>
        </div>

    </div>
</body>
</html>
